@charset "utf-8";

.tabs-nav{margin:20px 0; font:bold 16px/1 Arial;}
.tabs-nav__item{margin:0 10px 0 0; display:inline-block; vertical-align:top;}
.tabs-nav__item.active .tabs-nav__link{border-bottom:2px solid #666;} /* active tab */
.tabs-nav__link{color:#666; text-decoration:none;}
.tabs-content{margin:0 0 20px; font:14px/1.5 Arial; color:#333;}
.tabs-content .tabs-nav{font-size:14px;}

.tab{position:absolute; top:-9999px; left:-9999px;}
.tab.active{position:relative; top:auto; left:auto;}
/* may be changed to display:none / display:block */